## Import libraries

In [4]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score

Storing the data in a dataframe

In [5]:
homes_sold = pd.read_csv(
    "dkhousingprices.csv",
    sep=",",
    na_values="\\N",
    dtype={
        "no_rooms": "float64",
        "sqm_price": "float64",
        "yield_on_mortgage_credit_bonds%": "float64",
        "dk_ann_infl_rate%": "float64"
    }
)

In [3]:
homes_sold.head()

  date,"quarter","house_id","house_type","sales_type","year_build","purchase_price","%_change_between_offer_and_purchase","no_rooms","sqm","sqm_price","address","zip_code","city","area","region","nom_interest_rate%","dk_ann_infl_rate%","yield_on_mortgage_credit_bonds%"
0  2024-10-26 00:00:00.000000000,219,0,"Villa","r...
1  2024-10-26 00:00:00.000000000,219,2,"Summerhou...
2  2024-10-26 00:00:00.000000000,219,1,"Farm","re...
3  2024-10-25 00:00:00.000000000,219,3,"Apartment...
4  2024-10-25 00:00:00.000000000,219,4,"Villa","r...

In [15]:
#Drop all rows with na in the sqm column
homes_sold = homes_sold.dropna(subset=["quarter","house_type", "sales_type", "year_build", "no_rooms", "sqm", "area", "nom_interest_rate%"])
homes_sold.head()

,date,quarter,house_id,house_type,sales_type,year_build,purchase_price,%_change_between_offer_and_purchase,no_rooms,sqm,sqm_price,address,zip_code,city,area,region,nom_interest_rate%,dk_ann_infl_rate%,yield_on_mortgage_credit_bonds%
0,2024-10-26 00:00:00.000000000,219,0,Villa,regular_sale,1974,4350000,0,5.0,215.0,20232.559,Kildevangen 5,8382,Hinnerup,East & mid jutland,Jutland,3.1,NaN,NaN
1,2024-10-26 00:00:00.000000000,219,2,Summerhouse,regular_sale,1956,450000,0,3.0,36.0,12500.000,Lykkestien 2,4400,Kalundborg,Other islands,Zealand,3.1,NaN,NaN
2,2024-10-26 00:00:00.000000000,219,1,Farm,regular_sale,1955,6600000,0,3.0,180.0,36666.668,Sæderupvej 58,9260,Gistrup,North jutland,Jutland,3.1,NaN,NaN
3,2024-10-25 00:00:00.000000000,219,3,Apartment,family_sale,1945,1495000,0,2.0,64.0,23359.375,"Tage-Hansens Gade 5, 1. tv",8000,Aarhus C,East & mid jutland,Jutland,3.1,NaN,NaN
4,2024-10-25 00:00:00.000000000,219,4,Villa,regular_sale,1967,3375000,0,5.0,176.0,19176.137,Chr.Winthers Vej 5,8600,Silkeborg,East & mid jutland,Jutland,3.1,NaN,NaN

### Make dummy variables

In [16]:
X = pd.get_dummies(homes_sold[["quarter","house_type", "sales_type", "year_build", "no_rooms", "sqm", "area", "nom_interest_rate%" ]])
y = homes_sold["purchase_price"]
X.shape, y.shape
X.head()

,quarter,year_build,no_rooms,sqm,nom_interest_rate%,house_type_Apartment,house_type_Farm,house_type_Summerhouse,house_type_Townhouse,house_type_Villa,...,sales_type_other_sale,sales_type_regular_sale,area_Bornholm,"area_Capital, Copenhagen",area_East & mid jutland,area_Fyn & islands,area_North Zealand,area_North jutland,area_Other islands,area_South jutland
0,219,1974,5.0,215.0,3.1,False,False,False,False,True,...,False,True,False,False,True,False,False,False,False,False
1,219,1956,3.0,36.0,3.1,False,False,True,False,False,...,False,True,False,False,False,False,False,False,True,False
2,219,1955,3.0,180.0,3.1,False,True,False,False,False,...,False,True,False,False,False,False,False,True,False,False
3,219,1945,2.0,64.0,3.1,True,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
4,219,1967,5.0,176.0,3.1,False,False,False,False,True,...,False,True,False,False,True,False,False,False,False,False

Make the training and testing split

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [18]:
# Create and fit the model
simple_model = LinearRegression()
simple_model.fit(X_train, y_train)

LinearRegression()

In [19]:
#Evaluate the model
print("Score on training set: {:.3f}".format(simple_model.score(X_train, y_train)))
print("Score on test set: {:.3f}".format(simple_model.score(X_test, y_test)))

Score on training set: 0.338
Score on test set: 0.333